os:
- linux
- osx
language: rust
rust:
- nightly
sudo: false
branches:
  only:
      - master
install:
- curl -sSL https://github.com/maidsafe/QA/raw/master/Bash%20Scripts/Travis/install_libsodium.sh | bash
- export LIBRARY_PATH=$LIBRARY_PATH:$HOME/libsodium-1.0.3/lib && export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/libsodium-1.0.3/lib
script:
- cargo build --verbose
- cargo test --verbose
after_success:
- curl -sSL https://github.com/maidsafe/QA/raw/master/Bash%20Scripts/Travis/deploy_gh-pages.sh | bash
env:
  global:
    secure: "jft8gl/u8TC9SNLU6RQzl4JSFTAJWbI76m/neYYAzXWZbRA5lRBZYW4/OuVBowK2ntqzna/u/OFwMT8YAWgQAu64JYk0hDhNLc052Z+fwIV4/PKfxp/Ej4cR++A7XPYprAriplwOCx67EprHE5ioRCgNjj53Wlu/9ErcCIXMw8t4rdDM0ofT7HCzwhTa9b9EmKI0Hq7bbc/6SWIkGjKzL6wD1IPvMKpsPyrPHvOp13O2ZYJHpzPf4kpDMnEqEX6onWQpQ1aUH4JF5xv2wukPei6v9YEuiC9xmugnv/XwNlvRbNLLuelrs2J81bf7r8ePpeWjjtofNEA0J+yPIWfnz1XIkaJ7ZTmbBDkq5oLIsgLLXcSYmsHAYJQfZtlJlD19tHoT1KgPJKVSeCWER1a+0Nr90qUuWZOslwJK4wPEoz+vv7GWJZzGMDOWLPxMwnveKM/b/hGW6p45T9ftTbubLokNdeexlnvQzx5J18DVhHLbwtEFSnC0YEgT2plDOOuY99/gbnSwQ5VCPMEOUctaDOZW1+orRddrEOjCAWB8gKci3EpFmMvdofui+5TvjsJFFGUYP57mkLtl08sKP7AoFQxnSBB0GdM11bKm+YBF8y0mYLGBgQzPEV9To6952fa1xMRElSFWIF29/1tydAJbCas3qkZMhi+f/yDnG+PY+KY="
